.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
}
.scroll-header{
    background-color: $title-color;
    color: $body-color;
}

.nav {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;

    &__logo,
    &__toggle{
        color: $title-color;
        font-weight: $font-semi-bold;
        font-size: $h3-font-size;
    }

    &__logo-img{
        width: 130px;
        height: 50px;
    }

    &__list{
        display: flex;
        column-gap: 2rem;
        
    }

    &__item {
        color: $title-color;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $h3-font-size;
        color: $title-color;
        transition: .3s;
    }
    &__button__sign-in{
        background-color: transparent !important;
    }
    &__button__sign-in:hover{
        color: $first-color-dark !important;
    }

    &__close,
    &__toggle{
        display: none;
        
    }
}
/*Active link*/
.active-link,
.nav__link:hover {
    color: $first-color-dark;
    position: relative;
}

.active-link::before {
    content: '';
    position: absolute;
    bottom: -0.55rem;
    width: 100%;
    height: 0.3rem;
    background-color: $body-color;
}

@media screen and (max-width: 1000px) {
    .nav {
        height: 5rem;

        &__menu {
            position: fixed;
            background-color: $first-color;
            width: 50%;
            height: 100%;
            top: 0;
            right: -100%;
            padding: 4rem 0 0 3rem;
            z-index: $z-fixed;
            transition: .4s;
        }

        &__list {
            flex-direction: column;
            row-gap: 1.5rem;
            align-items: flex-start;
            
    
        }


        &__link{
            color: $body-color;
        }

        &__close {
            font-size: 1.2rem;
            position: absolute;
            top: 1rem;
            right: 1.25rem;
            cursor: pointer;
            color: $body-color;
        }
       
       

        &__close,
        &__toggle{
            display: block;
            color: $title-color;
        }
    }

    /*show menu*/
    .show-menu {
        right: 0;
    }

}

@media screen and (max-width: 768px) {
    .header {
        top: initial;
        
        // box-shadow: 0 1px 1px 0px $title-color;

    }

    .nav {
        height: 5rem;

        &__menu {
            position: fixed;
            background-color: $first-color;
            width: 100%;
            height: 100%;
            top: 0;
            right: -100%;
            padding: 4rem 0 0 3rem;
            z-index: $z-fixed;
            transition: .4s;
        }

        &__list {
            flex-direction: column;
            row-gap: 1.5rem;
            align-items: flex-start;
    
        }


        &__link{
            color: $body-color;
        }

        &__close {
            font-size: 1.2rem;
            position: absolute;
            top: 1rem;
            right: 1.25rem;
            cursor: pointer;
            color: $body-color;
        }
       
       

        &__close,
        &__toggle{
            display: block;
            color: $title-color;
        }
    }

    /*show menu*/
    .show-menu {
        right: 0;
    }

}