.home{
    position: relative;
    padding-bottom: 0;

    &__content{
        padding-top: 4rem;
        row-gap: 3rem; 
    }
    &__data{
        text-align: center;
        padding-top: 4rem;
    }
    &__title{
        font-size: $h1-font-size;
        -webkit-text-stroke: 1px $title-color;
        color: transparent;
        margin-bottom: $mb-1;
    }
    &__subtitle{
        margin-bottom: $mb-1;
    }
    &__description{
        margin-bottom: $mb-2-5;
    }
    &__triangle{
        height: 425px;
        position: absolute;
        right: 0;
        bottom: 0;
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }
    &__triangle-1{
        width: 105px;
        background-color: $first-color;
    }
    &__triangle-2{
        width: 205px;
        background-color: $first-color-alt;
    }
    &__triangle-3{
        width: 305px;
        background-color: $first-color-dark;
    }
    &__img{
        display: block;
        position: relative;
        z-index: 1;
        width: 350px;
        margin: 0 auto;
    }

    &__buttons{
        display: flex;
        gap: 1rem;

        @media screen and (max-width: 768px) {
            margin: 0 auto;
            max-width: 200px;
            flex-direction: column;
        }
    }
    
    
    &__button-more{
        background-color: $title-color !important;
        color: $body-color !important;
    }
    
    .button{
        &-icons{
            margin-left: 0.5rem;
        }
    }
}

@media screen and (min-width: 768px) {

    .home{

        &__container{
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }
        &__data{
            text-align: initial;
            padding-top: 4rem;
            row-gap: 3rem; 
        }
       
    }
    
}

@media screen and (min-width: 1023px) {
    .home{
        height: 100vh;
        &__container{
            grid-template-columns: repeat(2, max-content);
            align-items: initial;
            padding-top: 8rem;
            row-gap: 3rem; 
            
        }
        &__title{
            margin: $mb-0-75 0 $mb-1-5;
        }
        &__descritpion{
            width: 445px;
            margin-bottom: 3rem;
        }
        &__img{
            width: 800px;
            transform: translateX(3rem);
        }
        &__triangle{
            height: 700px;
            position: absolute;
            right: 0;
            bottom: 0;
            clip-path: polygon(100% 0, 0 100%, 100% 100%);
        }
        &__triangle-1{
            width: 205px;
            background-color: $first-color;
        }
        &__triangle-2{
            width: 305px;
            background-color: $first-color-alt;
        }
        &__triangle-3{
            width: 405px;
            background-color: $first-color-dark;
        }
    }
}

