/*Google fonst*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import './styles/variable';
@import './styles/header';
@import './styles/hero';
@import './styles/bookcars';
@import './styles/plan';
@import './styles/pickcar';
@import './styles/banner';
@import './styles/choose';
@import './styles/testominial';
@import './styles/faq';
@import './styles/download';
@import './styles/footer';
@import './styles/about';
@import './styles/models';

/*Base*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: $body-font;
    font-size: $normal-font-size;
}

body {
    background-color: $body-color;
    color: $text-color;
}

h1,
h2,
h3 {
    color: $title-color;
    font-weight: $font-semi-bold;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

// scroll bar ------

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: $first-color-dark;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: $body-color;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: $body-color;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: $body-color;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: $first-color-dark;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: $first-color-dark;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: $first-color-dark;
  }

/*css classes*/
.section {
    padding: 6rem 0 2rem;
}

.section__title {
    font-size: $h1-font-size;
    color: $title-color;
}

.section__subtitle {
    display: block;
    font-size: $h3-font-size;
    margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
    text-align: center;
}

/*Layout*/
.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/*Buttons*/
.button {
    display: inline-block;
    background-color: $first-color-dark;
    color: $title-color;
    padding: 1.25rem 3rem;
    font-weight: $font-medium;
    margin-right: 1rem;
    text-align: center;
}

.button:hover {
    background-color: $first-color-light;
    color: $body-color;
}

.button__icon {
    margin-left: $mb-0-5;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}




@media screen and (max-width: 992px) {
    .container {
        margin-left: $mb-1-5;
        margin-right: $mb-1-5;
    }

    .button {
        padding: 1rem 1.75rem;
    }

    .section {
        padding: 5rem 0 4rem;
    }

}

@media screen and (max-width: 768px) {
    body {
        margin: 0 0 4.5rem 0;
    }
   
    .section__subtitle {
        margin-bottom: $mb-3;
    }
}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 350px) {
    .container {
        margin-left: $mb-1;
        margin-right: $mb-1;
    }

}