/*Google fonst*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*variables scss*/
/*Colors*/
/*Font*/
/*Font weight*/
/*Margins*/
/*z index*/
/*Responsive*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.scroll-header {
  background-color: hsl(180, 4%, 98%);
  color: hsl(180, 12%, 8%);
}

.nav {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.nav__logo, .nav__toggle {
  color: hsl(180, 4%, 98%);
  font-weight: 600;
  font-size: 1.25rem;
}
.nav__logo-img {
  width: 130px;
  height: 50px;
}
.nav__list {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.nav__item {
  color: hsl(180, 4%, 98%);
}
.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  color: hsl(180, 4%, 98%);
  transition: 0.3s;
}
.nav__button__sign-in {
  background-color: transparent !important;
}
.nav__button__sign-in:hover {
  color: hsl(79, 63%, 50%) !important;
}
.nav__close, .nav__toggle {
  display: none;
}

/*Active link*/
.active-link,
.nav__link:hover {
  color: hsl(79, 63%, 50%);
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.55rem;
  width: 100%;
  height: 0.3rem;
  background-color: hsl(180, 12%, 8%);
}

@media screen and (max-width: 1000px) {
  .nav {
    height: 5rem;
  }
  .nav__menu {
    position: fixed;
    background-color: hsl(79, 72%, 55%);
    width: 50%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 4rem 0 0 3rem;
    z-index: 100;
    transition: 0.4s;
  }
  .nav__list {
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: flex-start;
  }
  .nav__link {
    color: hsl(180, 12%, 8%);
  }
  .nav__close {
    font-size: 1.2rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    color: hsl(180, 12%, 8%);
  }
  .nav__close, .nav__toggle {
    display: block;
    color: hsl(180, 4%, 98%);
  }
  /*show menu*/
  .show-menu {
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  .header {
    top: initial;
  }
  .nav {
    height: 5rem;
  }
  .nav__menu {
    position: fixed;
    background-color: hsl(79, 72%, 55%);
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 4rem 0 0 3rem;
    z-index: 100;
    transition: 0.4s;
  }
  .nav__list {
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: flex-start;
  }
  .nav__link {
    color: hsl(180, 12%, 8%);
  }
  .nav__close {
    font-size: 1.2rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    color: hsl(180, 12%, 8%);
  }
  .nav__close, .nav__toggle {
    display: block;
    color: hsl(180, 4%, 98%);
  }
  /*show menu*/
  .show-menu {
    right: 0;
  }
}
.home {
  position: relative;
  padding-bottom: 0;
}
.home__content {
  padding-top: 4rem;
  row-gap: 3rem;
}
.home__data {
  text-align: center;
  padding-top: 4rem;
}
.home__title {
  font-size: 2.5rem;
  -webkit-text-stroke: 1px hsl(180, 4%, 98%);
  color: transparent;
  margin-bottom: 1rem;
}
.home__subtitle {
  margin-bottom: 1rem;
}
.home__description {
  margin-bottom: 2.5rem;
}
.home__triangle {
  height: 425px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
.home__triangle-1 {
  width: 105px;
  background-color: hsl(79, 72%, 55%);
}
.home__triangle-2 {
  width: 205px;
  background-color: hsl(79, 67%, 52%);
}
.home__triangle-3 {
  width: 305px;
  background-color: hsl(79, 63%, 50%);
}
.home__img {
  display: block;
  position: relative;
  z-index: 1;
  width: 350px;
  margin: 0 auto;
}
.home__button-more {
  background-color: hsl(180, 4%, 98%) !important;
  color: hsl(180, 12%, 8%) !important;
}
.home .button-icons {
  margin-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .home__data {
    text-align: initial;
    padding-top: 4rem;
    row-gap: 3rem;
  }
}
@media screen and (min-width: 1023px) {
  .home {
    height: 100vh;
  }
  .home__container {
    grid-template-columns: repeat(2, max-content);
    align-items: initial;
    padding-top: 8rem;
    row-gap: 3rem;
  }
  .home__title {
    margin: 0.75rem 0 1.5rem;
  }
  .home__descritpion {
    width: 445px;
    margin-bottom: 3rem;
  }
  .home__img {
    width: 800px;
    transform: translateX(3rem);
  }
  .home__triangle {
    height: 700px;
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }
  .home__triangle-1 {
    width: 205px;
    background-color: hsl(79, 72%, 55%);
  }
  .home__triangle-2 {
    width: 305px;
    background-color: hsl(79, 67%, 52%);
  }
  .home__triangle-3 {
    width: 405px;
    background-color: hsl(79, 63%, 50%);
  }
}
.book-section {
  position: relative;
}

.book-content {
  margin: 0 auto;
  margin-bottom: 10rem;
}
.book-content__box {
  background-color: hsl(180, 4%, 98%);
  width: 100%;
  padding: 4rem 4.5rem 5rem 5.5rem;
  box-shadow: 0 10px 20px 0 rgba(245, 245, 245, 0.1);
  height: auto;
  position: relative;
  z-index: 4;
  color: hsl(180, 12%, 8%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .book-content__box {
    padding: 4rem 2.5rem 5rem 2.5rem;
  }
}
.book-content__box h2 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  color: hsl(180, 12%, 8%);
}
.book-content__box .box-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 2rem;
}
.book-content__box .box-form b {
  color: hsl(79, 67%, 52%);
}
@media (max-width: 992px) {
  .book-content__box .box-form {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .book-content__box .box-form {
    grid-template-columns: 1fr;
  }
}
.book-content__box .box-form__car-type {
  display: flex;
  flex-direction: column;
}
.book-content__box .box-form__car-type label {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.book-content__box .box-form__car-type label i {
  color: hsl(79, 72%, 55%);
}
.book-content__box .box-form__car-type select {
  font-size: 1.5rem;
  color: hsl(79, 6%, 64%);
  border: 1px solid hsl(79, 6%, 64%);
  border-radius: 3px;
  font-weight: 400;
  padding: 1.2rem 1.3rem;
  outline: none;
}
@media (max-width: 768px) {
  .book-content__box .box-form__car-type select {
    font-size: 1rem;
  }
}
.book-content__box .box-form__car-time {
  display: flex;
  flex-direction: column;
  position: relative;
}
.book-content__box .box-form__car-time input {
  outline: none;
  color: hsl(79, 6%, 64%);
  padding-right: 3rem;
  border: 1px solid hsl(79, 6%, 64%);
}
.book-content__box .box-form__car-time label {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.book-content__box .box-form__car-time label i {
  color: hsl(79, 72%, 55%);
}
.book-content__box .box-form__car-time ::-webkit-datetime-edit {
  padding: 1.3rem 1.3rem;
}
.book-content__box .box-form__car-time ::-webkit-calendar-picker-indicator {
  cursor: pointer;
  font-size: 1.5rem;
}
.book-content__box button {
  padding: 1.3rem 1.3rem;
  height: -moz-fit-content;
  height: fit-content;
  align-self: self-end;
  border: none;
  font-size: 1.5rem;
  color: hsl(180, 4%, 98%);
  background-color: hsl(79, 67%, 52%);
  cursor: pointer;
  transition: all 0.3s;
}

.error-message {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 1rem 1.4rem;
  margin-bottom: 1.8rem;
  margin-top: -1rem;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  font-weight: 500;
  display: none;
  justify-content: space-between;
  align-items: center;
}
.error-message i {
  cursor: pointer;
}

.booking-done {
  color: #2a6817;
  background-color: #c3fabe;
  border-color: #f5c6cb;
  padding: 1rem 1.4rem;
  margin-bottom: 1.8rem;
  margin-top: -1rem;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  font-weight: 500;
  display: none;
  justify-content: space-between;
  align-items: center;
}
.booking-done i {
  cursor: pointer;
}

.active-modal {
  opacity: 1 !important;
  display: flex !important;
}

.modal-overlay {
  opacity: 0;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999999999;
  top: 0;
  right: 0;
}

.booking-modal {
  opacity: 0;
  display: none;
  flex-direction: column;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 999999999999;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 83rem;
  height: 100vh;
  border: 2px solid white;
  background-color: rgb(255, 255, 255);
  padding-right: 2px;
  color: hsl(180, 4%, 12%);
}
@media (max-width: 768px) {
  .booking-modal {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .booking-modal {
    top: 50%;
  }
}
.booking-modal__title {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: hsl(79, 63%, 50%);
  color: hsl(180, 4%, 98%);
  align-items: center;
}
.booking-modal__title h2 {
  font-size: 1.25rem;
  text-transform: uppercase;
}
.booking-modal__title i {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.919);
  cursor: pointer;
  transition: all 0.2;
}
.booking-modal__title i:hover {
  color: hsl(180, 4%, 98%);
}
.booking-modal__message {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 3rem;
  background-color: #ffeae6;
}
.booking-modal__message h4 {
  font-size: 1.9rem;
  font-weight: 700;
  color: hsl(79, 72%, 55%);
}
.booking-modal__message h4 i {
  font-size: 2.5rem;
}
.booking-modal__message p {
  font-size: 1.5rem;
  color: hsl(79, 6%, 64%);
  font-weight: 500;
  line-height: 1.6;
}
.booking-modal__car-info {
  background-color: hsl(180, 4%, 98%);
  padding: 3rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid hsl(79, 6%, 64%);
}
@media (max-width: 650px) {
  .booking-modal__car-info {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.booking-modal__car-info__dates {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.booking-modal__car-info__dates h5 {
  font-size: 1.5rem;
  color: hsl(79, 72%, 55%);
}
.booking-modal__car-info__dates span {
  display: flex;
  gap: 1rem;
}
@media (max-width: 650px) {
  .booking-modal__car-info__dates span {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
  }
}
.booking-modal__car-info__dates span i {
  font-size: 1.8rem;
  padding-top: 0.2rem;
  color: hsl(79, 6%, 64%);
}
@media (max-width: 650px) {
  .booking-modal__car-info__dates span i {
    display: none;
  }
}
.booking-modal__car-info__dates span h6 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}
.booking-modal__car-info__dates span p {
  font-size: 1.25rem;
  color: hsl(79, 6%, 64%);
}
.booking-modal__car-info__model {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (max-width: 650px) {
  .booking-modal__car-info__model {
    margin-top: 3.5rem;
  }
}
.booking-modal__car-info__model h5 {
  font-size: 1.8rem;
  color: hsl(79, 72%, 55%);
}
.booking-modal__car-info__model h5 span {
  color: hsl(180, 4%, 12%);
}
.booking-modal__car-info__model img {
  width: 100%;
  height: auto;
}
.booking-modal__person-info {
  padding: 3rem 3rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.booking-modal__person-info h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: hsl(79, 72%, 55%);
  margin-bottom: 2rem;
}

.input-time {
  text-align: center;
  width: 8rem;
  font-size: 14px;
  cursor: pointer;
}

.info-form {
  display: flex;
  flex-direction: column;
}
.info-form__checkbox {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 0.8rem;
  color: #565454;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.info-form__checkbox input {
  width: 1.6rem;
  height: 1.6rem;
}
.info-form__1col {
  grid-template-columns: 1fr !important;
}
.info-form__2col, .info-form__1col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem 0;
}
@media (max-width: 650px) {
  .info-form__2col, .info-form__1col {
    grid-template-columns: 1fr;
  }
}
.info-form__2col span, .info-form__1col span {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.info-form__2col span label, .info-form__1col span label {
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(79, 6%, 64%);
}
@media (max-width: 768px) {
  .info-form__2col span label, .info-form__1col span label {
    font-size: 1rem;
  }
}
.info-form__2col span label b, .info-form__1col span label b {
  color: hsl(79, 72%, 55%);
}
.info-form__2col span input, .info-form__1col span input {
  padding: 15px 10px;
  background-color: #dbdbdb;
  color: #555;
  font-size: 1.5rem;
  font-weight: 500;
  outline: none;
  border: none;
}
@media (max-width: 768px) {
  .info-form__2col span input, .info-form__1col span input {
    padding: 5px;
    font-size: 1rem;
  }
}

.reserve-button {
  background-color: #dbdbdb;
  margin: 0 -3rem;
  padding: 3rem;
  text-align: right;
}
@media (max-width: 768px) {
  .reserve-button {
    text-align: center;
  }
}
.reserve-button button {
  font-size: 1.25rem;
  color: hsl(180, 4%, 98%);
  font-weight: 600;
  background-color: hsl(79, 63%, 50%);
  padding: 1.2rem 2rem;
  cursor: pointer;
  transition: all 0.2s;
}
.reserve-button button:hover {
  background-color: hsl(79, 97%, 77%);
  color: hsl(180, 12%, 8%);
}

.dates-div {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.plan__container {
  grid-template-columns: repeat(3, 400px);
  justify-content: center;
  gap: 3rem;
}
.plan__content {
  text-align: center;
  padding: 1rem 6rem;
}
.plan__icons {
  font-size: 7rem;
  padding: 10px;
  color: hsl(79, 63%, 50%);
}
.plan__title {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.ico__circle-one {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.ico__circle-two {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 36% 60% 41% 38%/44% 51% 31% 37%;
}

.ico__circle-three {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 94% 6% 34% 66%/36% 31% 69% 64%;
}

.ico__circle-one,
.ico__circle-two,
.ico__circle-three {
  background-color: hsla(79, 97%, 77%, 0.13);
  width: 220px;
  height: 135px;
  margin: 1rem auto;
}

@media screen and (max-width: 992px) {
  .plan__container {
    grid-template-columns: repeat(2, 350px);
  }
}
@media screen and (max-width: 768px) {
  .plan__container {
    grid-template-columns: 1fr;
  }
  .plan__content {
    padding: 1rem !important;
  }
}
.car__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  margin-bottom: 2rem;
}
.car__item {
  cursor: pointer;
  color: hsl(180, 4%, 98%);
  padding: 0.3rem 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
  text-transform: capitalize;
  background-color: hsl(79, 6%, 64%);
  color: hsl(180, 12%, 8%);
  width: 10rem;
  text-align: center;
}
.car__item:hover {
  background-color: hsl(79, 63%, 50%);
  color: hsl(180, 12%, 8%);
  transition: all 0.2s;
}
.car__container {
  justify-content: center;
}
.car__card {
  padding: 1.25rem;
}
.car__img {
  width: 100%;
  margin-bottom: 2rem;
}
.car__btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.car__button {
  color: var(--subtitle-color);
  font-size: var(--normal-font-size);
  padding: 0.5rem;
}

.active-car {
  background-color: hsl(79, 63%, 50%);
  color: hsl(180, 12%, 8%);
}

.pick-description {
  width: 25rem;
  margin: 0 auto;
}
.pick-description__price {
  width: 100%;
  background-color: hsl(79, 63%, 50%);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: white;
  padding: 0.3rem 1.9rem;
  white-space: nowrap;
}
.pick-description__price span {
  font-size: 2.5rem;
  font-weight: 700;
}
.pick-description__table {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  font-size: 1rem;
}
.pick-description__table__col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-template-rows: auto;
  padding: 0.9rem 0.5rem;
  border-bottom: 2px solid hsl(79, 6%, 64%);
  border-right: 2px solid hsl(79, 6%, 64%);
  border-left: 2px solid hsl(79, 6%, 64%);
}
.pick-description__table__col span:nth-child(1) {
  border-right: 2px solid hsl(79, 6%, 64%);
}

.cta-btn {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: white;
  background-color: hsl(79, 63%, 50%);
  padding: 1rem 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1.4rem;
  transition: all 0.3s;
}
.cta-btn:hover {
  background-color: hsl(79, 97%, 77%);
  color: hsl(180, 12%, 8%);
}

@media screen and (max-width: 992px) {
  .car__container {
    gap: 1.25rem;
  }
  .car__card {
    padding: 1rem;
  }
  .car__img {
    margin-bottom: 0.75rem;
  }
  .car__title {
    margin-bottom: 0.25rem;
  }
}
@media screen and (max-width: 768px) {
  .car__container {
    grid-template-columns: max-content;
  }
  .car__filters {
    flex-direction: column;
  }
  .car__item {
    margin-bottom: 1rem;
  }
  .pick-description {
    width: 20rem;
  }
}
@media screen and (max-width: 576px) {
  .car__container {
    grid-template-columns: 1fr;
  }
  .car__img {
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .car__item {
    font-size: var(--small-font-size);
  }
  .car__filters {
    -moz-column-gap: 0.25rem;
         column-gap: 0.25rem;
  }
}
/*Base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

body {
  background-color: hsl(180, 12%, 8%);
  color: hsl(180, 4%, 72%);
}

h1,
h2,
h3 {
  color: hsl(180, 4%, 98%);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*css classes*/
.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: 2.5rem;
  color: hsl(180, 4%, 98%);
}

.section__subtitle {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*Layout*/
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*Buttons*/
.button {
  display: inline-block;
  background-color: hsl(79, 63%, 50%);
  color: hsl(180, 4%, 98%);
  padding: 1.25rem 3rem;
  font-weight: 500;
  margin-right: 1rem;
  text-align: center;
}

.button:hover {
  background-color: hsl(79, 97%, 77%);
  color: hsl(180, 12%, 8%);
}

.button__icon {
  margin-left: 0.2rem;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .button {
    padding: 1rem 1.75rem;
  }
  .section {
    padding: 5rem 0 4rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 4.5rem 0;
  }
  .section__subtitle {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}/*# sourceMappingURL=App.css.map */